.blackbox1 {
        height:35px;
        background-color: black;
        width: 120%;
        float:right;
        opacity: 0.8;
        margin-top: -75px;
        margin-right: -20px;
        
        
}

.bannerquote {
    font-family: sans-serif;
    color: white;
    margin-top: -2px;
    margin-left: 760px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif
    
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
}

.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 560px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;