a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif
    
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
}

.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 560px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}
.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.container2 {
  position:absolute;
  width: 330px;
  height: 590px;
  margin-left: 360px;
  margin-top: 600px;
  
}

.image2 {
  display: block;
  width: 330px;
  height: 590px;
  opacity: 0.85;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 590px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.container2:hover .overlay2 {
  opacity: 0.6;
}

.text2 {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.container3 {
  position:absolute;
  width: 330px;
  height: -990px;
  margin-left: 750px;
  margin-top: 600px;
  
}

.image3 {
  display: block;
  width: 330px;
  height: 690px;
  opacity: 0.85;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 587px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
  margin-left: -41px;
}

.container3:hover .overlay3 {
  opacity: 0.6;
}

.text3 {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 588px;
    height: 330px;
    margin-left: -170px;
    margin-top: 128px; 
}
.container4 {
  position:absolute;
  width: 330px;
  height: 590px;
  margin-left: 1060px;
  margin-top: 597px;
  
}