.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

