a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif
    
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
}

.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.Image1 {
    text-align: right;
    margin-left: 750px;
    width: 600px;
    height: 0px;
    margin-top: 40px;

}

.backgroundimage2 {
    background-image: url(Image_2.png);
    background-size: 400px;
    width: 600px;
    height: 700px;
    background-repeat: no-repeat;
    resize: both;
    margin-top: -10px;
    margin-left: -550px;
   
}

.tumblr {
    margin-top: -660px;
    opacity: 0.8;
    margin-left: 53px;
    
}

.instagram {
    margin-top: 10px;
    opacity: 0.7;
    margin-left: 44px;
}

.blackbox1 {
        height:35px;
        background-color: black;
        width: 120%;
        float:right;
        opacity: 0.8;
        margin-top: -75px;
        margin-right: -20px;
        
        
}

.bannerquote {
    font-family: sans-serif;
    color: white;
    margin-top: -2px;
    margin-left: 760px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 13px;
}





.container {
  position:absolute;
  width: 330px;
  height: 590px;
  margin-left: 10px;
  margin-top: 600px;
  
}

.image {
  display: block;
  width: 330px;
  height: 590px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 590px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.container2 {
  position:absolute;
  width: 330px;
  height: 590px;
  margin-left: 360px;
  margin-top: 600px;
  
}

.image2 {
  display: block;
  width: 330px;
  height: 590px;
  opacity: 0.85;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 590px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.container2:hover .overlay2 {
  opacity: 0.6;
}

.text2 {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.container3 {
  position:absolute;
  width: 330px;
  height: -990px;
  margin-left: 750px;
  margin-top: 600px;
  
}

.image3 {
  display: block;
  width: 330px;
  height: 690px;
  opacity: 0.85;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 587px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
  margin-left: -41px;
}

.container3:hover .overlay3 {
  opacity: 0.6;
}

.text3 {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 588px;
    height: 330px;
    margin-left: -170px;
    margin-top: 128px; 
}
.container4 {
  position:absolute;
  width: 330px;
  height: 590px;
  margin-left: 1060px;
  margin-top: 597px;
  
}

.image4 {
  display: block;
  width: 330px;
  height: 590px;
  opacity: 0.85;
}

.overlay4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 588px;
  width: 330px;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
  margin-top: 3px;
}

.container4:hover .overlay4 {
  opacity: 0.6;
}

.text4 {
  color: black;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}

.aboutme {
   font-size: 32px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
   margin-left: 1095px;
   margin-top: 115px;
   
}
.aboutme2 {
   font-size: 15px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
   margin-left: 1095px;
   margin-top: 20px;
    font-weight: lighter
   
}
.aboutme3 {
   font-size: 15px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
   margin-left: 1095px;
   margin-top: 20px;
    font-weight: lighter
   
}

.aboutme4 {
   font-size: 15px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
   margin-left: 1095px;
   margin-top: 20px;
    font-weight: lighter
   
}

.image11 {
        margin-top: -610px;
        margin-left: -110px;
}

.image14 {
        margin-top: -200px;
        margin-left: -550px;
        opacity: 0.5;
}

.image12 {
        margin-top: 60px;
        margin-left: 37px;
        
}

.image3 {
        margin-top: -434.5px;
        margin-left: 370px;
        
}

.image22 {
        margin-top: -690px;
        margin-left: 705px;
        
}

.image23 {
        margin-top: -434px;
        margin-left: 1040px;
        
}

.image24 {
        margin-top: 15px;
        margin-left: 36px;
        opacity: 0.85;
      
        
}

.image25 {
        margin-top: -433.5px;
        margin-left: 370px;
        opacity: 0.85;
        
}

.image26 {
        margin-top: 60px;
        margin-left: 37px;
        opacity: 0.85;
        
}

.image6 {
        margin-top: 60px;
        margin-left: 37px;
        opacity: 0.85; 
}

.image7 {
        margin-top: -424px;
        margin-left: 370px;
        opacity: 0.85;
        
}

.image27 {
        margin-top: -424px;
        margin-left: 705px;
        opacity: 0.85;
        
}
.image28 {
        margin-top: -424px;
        margin-left: 1040px;
        opacity: 0.85;
}

.image29 {
        margin-top: 15px;
        margin-left: 37px;
        opacity: 0.85;
        
}

.image20 {
        margin-top: -10px;
        margin-left: 1055px;
        
}

.image13 {
        margin-top: -430px;
        margin-left: 37px;
        
}
.image101 {
        margin-top: -437px;
        margin-left: 370px;
        
}

.image30 {
        margin-top: -434px;
        margin-left: 705px;
        
}


.image21 {
        margin-top: -555px;
        margin-left: 375px;
        
}

.contacttitle {
   font-size: 42px;
   margin: 190px;
   font-family: sans-serif;
   color: black;
}

.contacttext {
   font-size: 16px;
 
   font-family: sans-serif;
   color: black;
            margin-top: -170px;
        margin-left: 192px;
}


.image31 {
        margin-top: -205px;
        margin-left: 875px;
            opacity: 0.85;
        
}
.image32 {
        margin-top: -165px;
        margin-left: -18px;
        
}

.maintitle2 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu2 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.maintitle3 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu3 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.maintitle4 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu4 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.maintitle5 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu5 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.maintitle6 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu6 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.maintitle7 {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu7 {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}